:root {
    --primary-color: #EE4D2D;
    --primary-color-rgba: rgb(238, 77, 45);
    --white-color: #FFF;
    --black-color: #000;
    --text-color: #333;
    --border-color: #DBDBDB;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var (--navbar-height));
}

*{
    box-sizing: inherit;
    list-style: none;
}
html {
  
    /* font-size: 100%;  mac dinh 16px
        => Nếu các element khác để font-size: 1rem <=> 16px
        => Khó cài đặt trong trường hợp muốn gán 12px, ...
        => Ta quy định font-size của html là 62.5px
        => Lúc này 1 rem là 10px
        => Nếu muốn vật 12px thì là 1.2 rem
    */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;     /* san-serif là chủng font không gạch chân, ở đây là để nếu trong trường hợp font roboto không chạy được thì sẽ chạy trước lên font sans-serif  */
    box-sizing: border-box;
}

/* Responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;   /*Tự động căn giữa  */
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    /* Những cái này trong wrap thì sẽ nằm trên 1 hàng ngang */
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid__column-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}
.grid__column-8{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3333%;
}
/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* MODAL */
.modal {
    --growth-from: 0.7;
    --growth-to: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    animation: growth linear 0.1s;
}
.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}
.modal__body{

    margin: auto;
    position: relative;
    z-index: 1;

   
}

/* Button style */
.btn {
    min-width: 124px;
    min-height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    line-height: 1.6rem;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--disable {
    cursor: default;
    /* filter: brightness(80%); */
    color: #949494;
    background-color: #C3C3C3;
}